.li {
    display: 'flex';
    align-items: 'center';
    margin-top: 5;
    margin-bottom: 5;
    padding-top: 2;
    padding-bottom: 2
  }
  
  .div {
    border-radius: '50%';
    width: 11;
    height: 11;
    margin-right: 10
  }